/*Quitando valores predeterminados*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
   
padding: 0;
margin: 0;

}

:root {

--color-primario: #F3F5FC;
--color-secundario: #0A3871;
--color-hover:#b6b6b6;
--fuente-inter :font-family: "Inter", sans-serif;

}

body{

background-color: var(--color-primario);
box-sizing: border-box;
height: 100vh;
width: 100vw;
    
}


.header{

height: 7.32421875vh;
display: flex;
align-items: center;

}

.header__contenedor__imagen{

width: 8.33333333333vw;
height: 4.6875vh;

}


.contenedor{

padding: 0vh 2.986111111vw 2.734375vh 2.986111111vw;

}

.contenedor__contenido{

display: flex; /* Activas el flex */
justify-content: flex-start;   
gap: 2.986111%;   
height: 85.3515%;
   
}

.contenedor__texto {

display: flex;
flex-direction: column;
align-items: center;
height: 85.3515vh;
gap: 1.180555556%

}

.contenedor__texto__ingresado{

display: flex;
flex-direction: column;
width: 54.79166667vw;
height: 77.44140625vh;
align-items: center;

}


.contenedor__texto__area {

width: 54.79166667vw;
height: 71.97265625vh;
color: var(--color-secundario);
background-color: var(--color-primario);
border: none; /* Quita el borde */
resize: none; /* Opcional: evita que el usuario cambie el tamaño del textarea */
outline: none; /* Elimina el borde cuando el textarea está enfocado */
font-family: var(--fuente-inter);
font-size: 2em
    
}

.contenedor__texto__area__p{

margin-top: 2.05078125vh;
font-family: var(--fuente-inter);
font-size: 0.75rem;

}


.contenedor__texto__area::placeholder {
    
color: var(--color-secundario); /* Color del texto del placeholder */
text-align: center; /* Alinea el placeholder al centro horizontalmente */
font-style: italic; /* Estilo de letra en cursiva para el placeholder */
font-family: var(--fuente-inter);

}


.contenedor__botones {

width: 47.22222222vw;
height: 6.54296875vh;
display: flex;
justify-content: space-between;
gap: 1.666666667vw;

}

.contenedor__botones__1 {

width: 22.7777778vw;
height: auto;
border-radius: 24px;
background-color: var(--color-secundario);
font-family: var(--fuente-inter);
color: white;
border: 2px solid var(--color-secundario);

}

.contenedor__botones__2 {

width: 22.7777778vw;
height: auto;
border-radius: 24px;
color: var(--color-secundario);
border: 2px solid var(--color-secundario); /* grosor tipo color*/
background-color: #D8DFE8;
font-family: var(--fuente-inter);
    
}


.contenedor__resultado{

display: flex;
flex-direction: column;
align-items: center;
background-color: white;
gap: 14.1601vh;
text-align: center;
border-radius: 32px;
height: 85.3515vh;
width: 36.25vw;
box-shadow: 0px 4px 10px rgba(10, 56, 113, 0.9); /* Aquí defines el sombreado */

}


.imagen {

margin-top: 9.472656vh;
height: 37.597656vh;
width: 28.888888889vw;
    
}

.contenedor__area__textos{

display: flex;
flex-direction:column;
gap: 1.5%;

}

.contenedor__area__textos__1{

font-size: 1.5rem;

}

.contenedor__area__textos__2{

margin-top: 1.5625vh;
font-size: 1rem;
font-family: var(--fuente-inter);

}


.contenedor__resultado__area{

margin-top: 43px;
width: 31.9444vw;
height: 65.9179vh;
font-family: var(--fuente-inter);
font-size: 1.5em;
text-align: center;
border: none; /* Quita el borde */
resize: none; /* Opcional: evita que el usuario cambie el tamaño del textarea */
outline: none; /* Elimina el borde cuando el textarea está enfocado */

}

.footer{

height: 4.589843vh;
width: auto;
display: flex;
justify-content: center;
background-color: var(--color-primario);
align-items: center;
color: var(--color-secundario);
font-family: var(--fuente-inter);
font-size: 0.875rem;

}


@media (max-width: 1030px){
 
.contenedor__contenido{

display: flex;
flex-direction: column;
align-items: center;

}

}



